*.pem
output/*
!output/dummy
CUDA/*
!CUDA/downloadCUDA.sh
OpenCL/*
!OpenCL/downloadIntel-OpenCLRuntime.sh
!OpenCL/opencl_runtime_silent.cfg
AMD/*
!AMD/downloadAMD-sdk.sh

keys/*.pem*
keys/*.ppk*

templates/*.template

config.*
!config.template.cfg
